{% extends "TonerBundle:Default:categoria.html.twig" %}                      
{% block body %}
    <style>
        .text-danger {
    color: #F44336;
}
    </style>
    	<section id="content">
	<div class="container">
		<div class="row">
			
                    
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-xs-12 col-sm-6 col-lg-5" style="overflow: hidden; margin-top: 30px;">
                                <img class="thumbnail" src="{{ producto.imagen }}" style="width: 350px;"/>
                            </div>
                            <div class="col-lg-7">
				<h1 class="heading">{{ producto.nombre }}</h1>
                                <hr class="colorgraph"/>
                                
                                <div class="col-xs-10 col-sm-6" style=" margin-bottom: 5px; text-align: center">
                                    <img class="img-descuento" src="{{ asset('public/img/meses.jpg') }}" style="width: 100%; margin-bottom: 15px;" />
                                    
                                </div>
                                <div class="col-xs-10 col-sm-7" style=" text-align: center">
                                    <img class="" src="{{ asset('public/img/envio.jpg') }}" style="width: 100%; margin-bottom: 5px;" />
                                    
                                </div>
                                <div class="col-xs-12" style=" margin-bottom: 5px; margin-top: 15px ">
                                    <div class="col-xs-4" style=" ">
                                    <div id="fb-root"></div>
                                    <script>(function(d, s, id) {
                                      var js, fjs = d.getElementsByTagName(s)[0];
                                      if (d.getElementById(id)) return;
                                      js = d.createElement(s); js.id = id;
                                      js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
                                      fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));</script>

                                    <div class="fb-share-button" data-type="icon_link"></div>
                                     </div> 
                                    
                                    <div class="col-xs-4" style=" ">
                                    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="es">Twittear</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                                    </div>
                                    <div class="col-xs-4" style=" ">
                                    <div class="g-plusone" data-size="medium"></div>
<script type="text/javascript">
  window.___gcfg = {lang: 'es'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
                                    </div>
                                    
                                </div>    
                                <div class="col-xs-7" style=" margin-bottom: 5px; ">
                                    <h4 class="text-danger">$ {{ (producto.precio/9)|round}} MX <strong style="color: #4c4c4c;">9 Meses sin intereses</strong></h4>  
                                    <h2 class="text-danger">$ {{ producto.precio }} MX</h2>                           
                                     <a href="{{ path('toner_compra', { 'producto' :  producto.nombre  })}}" class="btn btn-success btn-block btn-lg" role="button">Comprar</a> 
                                </div>    
                               
       
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <div class="col-xs-12 col-md-6">
                                <h3>Marca: {{producto.marca.nombre}}</h3>      
                                <h3>Número de parte fabricante: {{ producto.cartucho }}</h3>
                                <h3>Color de cartucho: {{ producto.color }}</h3>
                                            
                                
                                 </div>
                                <div class="col-xs-12 col-md-6">
                                <h3>Tecnologia de impresión: {{ producto.tipo }}</h3>  
                                <h3>Compatibilidad: {{ producto.modeloImp }}</h3>                                
                                <h3>Rendimiento: {{ producto.rendimiento }}</h3>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    
                    
                    
                    
                    <div class="col-md-12 center-block text-justify">
                        <hr class="colorgraph">
                        <h4>Politicas de Venta</h4>
                        <p style="line-height: 10px; font-size: 10px;">
                          HORARIO DE ATENCIÓN
Nuestro horario de atención a clientes es de Lunes a Viernes de 9:00 a 18:00 y Sábados de 09:00 a 14:00
SERVICIO A DOMICILIO
Contamos con servicio a domicilio en la CDMX. y no se  requiere compra mínima  para entregas sin costo. Los pedidos levantados antes de las 14 hrs de entregarán el mismo día.
CONDICIONES DE PAGO
Aceptamos todas las formas de pago. Efectivo, cheque, depósito, transferencia, tarjetas de crédito y débito y Paypal.  Directamente en el domicilio de entrega o en nuestras oficinas. Para transferencia bancaria Favor de solicitar la cuenta y clabe interbancaria, contamos con cuenta en Banorte. El cheque deberá ser a nombre de la empresa y/o razón social que le indique su ejecutivo de ventas. En el momento de la entrega, el cliente podrá hacer las pruebas que considere convenientes  antes de proceder a saldar el importe de la compra. Si requiere de crédito Favor de contactar con su ejecutivo de ventas para llenar solicitud correspondiente. Normalmente los clientes con más de tres meses de compras consecutivos serán elegibles para obtener una línea de crédito. 
PROMOCIONES DEL MES
Todas las promociones del mes serán validas únicamente bajo las condiciones de las mismas, vencimiento de la promoción o hasta agotar existencias.
PRECIOS
Todos los precios de Toner-economico.com  están sujetos a cambios sin previo aviso, el cliente deberá solicitar una cotización previa a la realización de su pedido y/o depósito.
DEVOLUCIONES
El usuario podrá optar por la reposición del producto o a la devolución de la cantidad pagada, contra la entrega del producto adquirido en los siguientes casos:
*Las unidades que presenten anomalías en el funcionamiento deben de reportarse a los teléfonos que Toner-economico.com  publique para este fin:
Distrito Federal: 6719-9776  Con un horario de atención de Lunes a Viernes de 9:00hrs a 18:00hrs y Sábados de 09:00hrs a 14:00hrs.
Un ejecutivo atenderá y apoyara al cliente para resolver cualquier duda respecto al funcionamiento del producto. Si el ejecutivo no puede resolver las dudas del cliente vía telefónica, disparará el servicio más adecuado al caso.
Toner-economico.com  garantiza todos los productos en todas sus partes, y cualquier defecto de manufactura. Si técnicamente se determina que los productos no tienen reparación, el cliente podrá sustituirlos. Si el producto tiene reparación las partes de reemplazo serán nuevas o equivalentes en cuando a rendimiento y funcionalidad. Todas las partes y productos corresponden a sus respectivos dueños.
•	Si el bien no corresponde a la calidad, marca, o especificaciones y demás elementos sustanciales bajo los cuales se haya ofrecido.
•	Aplicable en compras menores a 10,000mxn.
•	En un periodo de 1 a 3 días naturales a partir de la elaboración del documento físcal, no aplicable en productos originales.
•	Pasado el límite de devolución (3 días naturales) la devolución generará un costo del 20% del importe total del documento correspondiente.
•	En caso de que la devolución requiera envío, el mismo deberá hacerse con el embalaje original y siendo responsabilidad de Toner-economico.com  cubrir con todos los gastos que el envío represente. Y deberá ser enviado a la oficina de Toner-economico.com ubicada en Dr Velasco 193 despacho 101 Colonia Doctores C.P. 06720 en CDMX
•	Toner-economico.com  se compromete a otorgar la devolución del dinero en un periodo de no más de 10 días hábiles. La devolución se efectuará de la forma que al cliente le convenga. (Transferencia electrónica, Efectivo)
ENVIOS FORANEOS
Los envíos foráneos deberán estar pagos a su totalidad y confirmando su pago con copia de transferencia o ficha de depósito a ventas@toner-economico.com antes de las 14:00 hrs para darle salida ese mismo día a paquetería, los pedidos no confirmados antes de esa hora saldrán al día siguiente hábil. Sin excepciones. Los depósitos realizados “Salvo buen cobro” saldrán hasta que el dinero esté en firme en nuestra cuenta. Los envíos son realizados vía Estafeta por lo que les pedimos checar con su ejecutivo de ventas los tiempos establecidos por las paqueterías en entregarle a su domicilio, es muy importante que a la hora de realizar su pedido nos proporcione los siguientes datos: Dirección completa con colonia, ciudad, estado y código postal ( de preferencia con alguna referencia o negocio visible y conocido cerca). Nombre de la empresa y/o persona que va a recibir su paquete. Teléfono (este es muy importante porque es la forma en la que la paquetería se comunicará con usted en caso de no encontrar su domicilio). En caso de solicitar otro medio de envío favor de cotizar con su ejecutivo de ventas el costo de dicha mercancía. Los gastos de envío varían de acuerdo a peso y volumen de acuerdo a la mercancía requerida y correrá a cargo del cliente.
ERRORES EN EL ENVIO
Se deberá notificar a Toner-economico.com cualquier error en el envío dentro de las 24 hrs de recibido el paquete, Toner-economico.com  hará el cambio de cualquier envío por equivocación por parte de nosotros, para dicho cambio o error de mercancía se deberá entregar la mercancía en disputa en las mismas condiciones en las que se le enviaron, como su empaque original, cerrados, sin etiquetas adheridas y sin ralladuras de lo contrario no habrá cambio.
DAÑOS Y EXTRAVIOS EN ENVIOS
Todos los pedidos son enviados desde nuestra planta en PERFECTAS condiciones, si usted recibe un producto dañado en el envío deberá hacer la reclamación directamente a la compañía de transportes y notificarlo con su ejecutivo de ventas de Toner-economico.com, no olvide anotar la fecha de reclamación, número de guía y el nombre de la persona que lo atendió para darle seguimiento a la reclamación, la compañía de transporte es la única responsable por daños físicos causados por un maltrato de su parte. En el momento de realizar y pagar un pedido con Toner-economico.com, se da por hecho que el cliente acepta los términos y condiciones por parte de la empresa estipulados en esta sección. 
  
                        </p>
		    </div>
		</div>
	</div>
	</section>
         

            
{% endblock %}                     
	
        
       
